<!doctype html>
<!-- {% if message %} -->
  <!-- <h4>{{message}}!</h4> -->
<!-- {% endif %} -->
<title>Photoshare</title>
<!-- {% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %} -->

{% if tags %}
<h2>Here's your tags</h2>
    <ul>
    {% for i in tags %}

        
          <form method="post" enctype="multipart/form-data" action="/view_tags/{{a_name}}/{{aid}}/{{pid}}">
              <li>{{i[0]}} 
              <button type="submit" name="deleteTag" value={{i[0]}}>delete</button></li>
          </form>
       
    {% endfor %}
    </ul>
{% endif %}


  <p>

    <form method="post" enctype="multipart/form-data" action="/view_tags/{{a_name}}/{{aid}}/{{pid}}">

        <label for="tag">add tag:</label>
        <input type="text" name="tag" required='true' placeholder="enter a tag name without space" size='30'/>
        <input type="submit" value="Add" />
    </form>
  </p>


<ul>
<li><a href='/curAlbum/{{a_name}}/{{aid}}'>Back</a></li>
<li><a href='/albums'>Back to albums</a></li>
<li><a href='/profilepage'>Back to profile</a></li>
<li><a href='/welcomepage'>Welcome page</a></li>
</ul>